[
  {
    "name": "jenkins",
    "active": true,
    "events": [
      "push"
    ],
    "config": {
      "jenkins_hook_url": "http://152.46.20.57:8080/github-webhook"
    }
  },
  {
    "name": "web",
    "active": true,
    "events": [
      "push"
    ],
    "config": {
      "content_type": "json",
      "url": "http://152.46.20.57:8080/github-webhook/"
    }
  }
]