<org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl plugin="plain-credentials@1.4">
  <scope>GLOBAL</scope>
  <id>github_server</id>
  <description>git webhook</description>
  <secret>{{GIT_TOKEN}}</secret>
</org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl>