<com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl plugin="credentials@2.1.13">
  <scope>GLOBAL</scope>
  <id>git_token</id>
  <description></description>
  <username>{{GIT_TOKEN}}</username>
  <password>
    <secret-redacted/>
  </password>
</com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
